/*----------POP UP WINDOW ----------*/
#modal-background {
  background: rgba(0, 0, 0, 0.41);
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  animation: background 0.5s ease-in;
}

.modal {
  position: absolute;
  z-index: 10;
  background-color: white;
  width: 30%;
  right: 0;
  padding: 2rem;
  top:0;
  animation: top 0.5s ease-out;
}

@keyframes background {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes top {
  0%   { top: -300px; }
  100% { top: 0; }
}

/*---------- CLOSE BUTTON ----------*/

#close {
  transform: rotate(90deg);
  float: right;
}

#close img {
  height: 15px;
}

/*----------HEADER----------*/

.addResourceHeader {
  color: #008C97;
}

.addResourceHeader:after {
  content:' ';
  display:block;
  padding-top: 0.7rem;
  border-bottom:2px solid #008C97;
  margin-bottom: 2rem;
}

/*---------- FORM ----------*/

#addForm {
  font-size: 1.5rem;
}

#addForm .btn{
  margin-top: 1.5rem;
  padding: 3%;
  background-color: #42C1CB;
  color: white;
  border: 0;
  font-size: 20px;
  cursor:pointer;
}

#addForm label {
  display: inline-block;
  width: 8rem;
  text-align: right;
  margin-bottom: 2rem;
}

#url, #title, #keywords {
  width: 70%;
}

@media only screen and (max-device-width: 1531px) {
  .modal {
    width: 40%
  }
}

@media only screen and (max-device-width: 1143px) {
  .modal {
    width: 50%
  }
}

@media only screen and (max-device-width: 911px) {
  .modal {
    width: 60%
  }
}

@media only screen and (max-device-width: 760px) {
  .modal {
    width: 70%
  }
}

@media only screen and (max-device-width: 651px) {
  .modal {
    width: 80%
  }
}

@media only screen and (max-device-width: 570px) {
  #url, #title, #keywords {
    width: 60%;
  }
}

@media only screen and (max-device-width: 428px) {
  #url, #title, #keywords {
    width: 50%;
  }
  #addForm label {
    width: 20%;
  }
}

@media only screen and (max-device-width: 320px) {
  #url, #title, #keywords {
    width: 50%;
  }
  #addForm label {
    font-size: 1rem;
    width: 30%;
  }
}
