/*-------------INPUT-------------*/
input {
  font-size: 1.3rem;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-family: 'Montserrat', sans-serif;
}

#url, #title, #keywords::placeholder {
  padding-left: 3%;
}
