html, body {
  margin:0;
  padding:0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #DCE0E1;
  padding-top: 100px;
  margin-bottom: 50px;
  color: #333;
}

li {
  display: block;
  list-style: none;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  height: auto;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

p {
  background-color: #ECECEC;
  display: inline-block;
  margin-bottom: 0;
}

a {
  display: block;
  font-size: 1.2rem;
  font-weight: 550;
}

a:link {
  color: #008C97;
  text-decoration: none;
}

#delete {
  float: right;
  border-style: none;
  background-color: inherit;
}

#delete img {
  height: 0.8rem;
  cursor: pointer;
}
