<section id="searchResults">
</section>

<section id="resourceDB">
  {{#each output}}
    <li>
      <a target="_blank" href="http://{{this.url}}">{{this.title}}</a>
      <p>{{this.keywords}}</p>
    </li>
  {{/each}}
</section>
