<section id="searchResults">

</section>

<section id="modal-wrapper" class="modal-background hidden">
  <div class="modal" id="addResource">
    <div id="close">+</div>
    <h2>Add a resource:</h2>

    <form id="addForm" action="/add-resource" method="POST">
      <label for="url">URL:</label>
      <input id="url" name="url" type="text"><br>
      <label for="title">Title:</label>
      <input id="title" name="title" type="text"></br>
      <label for="keywords">Keywords:</label>
      <input id="keywords" name="keywords" type="text"></br>
      <div class="text-center">
        <button class="btn" id="submit" type="submit">Add a resource</button>
      </div>
    </form>
  </div>
</section>

<section id="resourceDB">
  {{#each output}}
    <li>
      <a target="_blank" href="http://www.{{this.url}}">{{this.title}}</a>
      <p>{{this.keywords}}</p>
    </li>
  {{/each}}
</section>
