<section id="searchResults">
</section>

<section id="resourceDB">
  {{#each output}}
    <li>
      <form method="get" action="/delete/{{this.id}}">
        <button type="submit" id="delete"><img src="./images/plus.svg" alt="delete"></button>
      </form>
      <a target="_blank" href="http://{{this.url}}">{{capitalise this.title}}</a>
      <p>{{this.keywords}}</p>
    </li>
  {{/each}}
</section>
