<head>
  <meta charset="utf-8">
  <title>FAC-Share</title>
  <link rel="stylesheet" href="style.css" media="screen">
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Chewy|PT+Sans+Narrow:400,700|Roboto:300,400,500,700|Zilla+Slab+Highlight:400,700" rel="stylesheet">
</head>
