<header id="header">
  <a href="/"><img src="images/logo.png" height="50" /></a>
  <a href="/"><h1>FAC Share</h1></a>
  <section id="search">
    <form id="searchform" action="/search">
      <input id="searchinput" placeholder="Search everything" type="text" name="input">
      <a href="#"><img id="search-icon" src="images/search.svg" height="40" /></a>
    </form>
  </section>
  <a href="#" id="plus"><img class="plus_image" src="images/plus.svg"/></a>
</header>

<!-- ADD RESOURCE WINDOW -->

<section id="modal-background" class="hidden">
  <div class="modal">

    <h2 class="addResourceHeader">Add a resource:
      <a href="#" id="close"><img src="images/plus.svg"/></a href="#">
    </h2>

    <form id="addForm" action="/add-resource" method="POST">
      <label for="url">URL:</label>
      <input id="url" name="url" type="text" placeholder="e.g., http://callbackhell.com/" required><br>
      <label for="title">Title:</label>
      <input id="title" name="title" type="text" placeholder="e.g., Callback Hell" required></br>
      <label for="keywords">Keywords:</label>
      <input id="keywords" name="keywords" type="text" placeholder="e.g., callback, promise, ES6"></br>
      <div class="text-center">
        <button class="btn" id="submit" type="submit">Add a resource</button>
      </div>
    </form>
  </div>
</section>
