<header id="top-navbar">
  <a href="/"><img src="images/logo.png" height="50" /></a>
  <a href="/"><h1>FAC Share</h1>
      <section id="search"></a>
  <form id="searchform" action="/search">
    <input id="searchinput" placeholder="search everything" type="text" name="input">
    <img id="search-icon" src="images/search.png" height="50" />
  </form>
  </section>
  <div id="plus">+</div>
</header>
